.app {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
  margin: 10px;
  border: solid;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

ul {
  list-style: none;
}

li {
  border: solid;
}